---
import Layout from "@/layouts/pageLayout.astro";
import "@/styles/markdown.css";
import type { Frontmatter } from "./types";
import type { MarkdownInstance } from "astro";
import { getPostWords, readingTime } from "@/utils/utils";
import "@fontsource/montserrat/900.css";

export async function getStaticPaths() {
  const posts = (await Astro.glob(
    "../content/posts/**/*.mdx"
  )) as MarkdownInstance<Frontmatter>[];

  return posts.map((post) => {
    return {
      params: {
        slug: post.frontmatter.href,
      },
      props: {
        post,
      },
    };
  });
}

const { Content, frontmatter } = Astro.props.post;
const words = getPostWords("");
const readTime = readingTime(words);
---

<Layout
  ><article>
    <h1
      class="text-[40px] font-black leading-[44px] text-[--title] font-['Montserrat']"
    >
      {frontmatter.title}
    </h1>
    <p class="mb-6 mt-2 text-[13px] text-gray-700 dark:text-gray-300">
      {
        new Date(frontmatter.date).toLocaleDateString("cn", {
          day: "2-digit",
          month: "2-digit",
          year: "numeric",
        })
      }
    </p>

    <p class="mt-2 text-[13px] text-gray-700 dark:text-gray-300">
      字数：{words}
    </p>
    <p class="mt-2 text-[13px] text-gray-700 dark:text-gray-300">
      预计阅读时间：{readTime}分钟
    </p>
    <div class="markdown mt-10">
      <Content />
    </div>
  </article></Layout
>
